* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ::-webkit-scrollbar {
  display: none;
} */

/* Design a scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #888;

  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}